@import "tailwindcss";
@layer components {
  .typography {
    p {
      font-size: var(--text-base);
      color: var(--color-gray-700);
    }
    h1 {
      font-size: var(--text-2xl--line-height);
      font-weight: var(--font-weight-semibold);
      color: var(--color-gray-950);
    }
    h2 {
      font-size: var(--text-xl);
      font-weight: var(--font-weight-semibold);
      color: var(--color-gray-950);
    }
  }
}
@keyframes strip-reveal {
  0% {
    clip-path: inset(0 100% 0 0);
    opacity: 0;
  }
  100% {
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

.strip-reveal {
  animation: strip-reveal 1.8s ease-out forwards;
  opacity: 0;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.agbalumo-regular {
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
}

.tagesschrift-regular {
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
}

.tinos-regular {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
}




.lavishly-yours-regular {
  font-family: "Lavishly Yours", cursive;
  font-weight: 400;
  font-style: normal;
}

.playball-regular {
  font-family: "Playball", cursive;
  font-weight: 400;
  font-style: normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}

.ribeye-marrow-regular {
  font-family: "Ribeye Marrow", serif;
  font-weight: 400;
  font-style: normal;
}

.italianno-regular {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}

.jacques-francois-shadow-regular {
  font-family: "Jacques Francois Shadow", serif;
  font-weight: 400;
  font-style: normal;
}


*, *::before, *::after { box-sizing: border-box; }
.mask-container {
	container-type: inline-size;
   --mask-head-size: calc(0.1 * 100cqw);
   --mask-foot-size: calc(0.01 * 100cqw);
}
.mask-box {
	margin-block: calc(-1 * var(--mask-head-size) - 1px) calc(-1 * var(--mask-foot-size) - 1px);
	padding-block: calc(var(--mask-head-size) + 1px) calc(var(--mask-foot-size) + 1px);
	mask-image:
		url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100"><g transform="scale(1,-1)" transform-origin="50%"><path d="M0 0v99.7C62 69 122.4 48.7 205 66c83.8 17.6 160.5 20.4 240-12 54-22 110-26 173-10a392.2 392.2 0 0 0 222-5c55-17 110.3-36.9 160-27.2V0H0Z" opacity=".5"></path><path d="M0 0v74.7C62 44 122.4 28.7 205 46c83.8 17.6 160.5 25.4 240-7 54-22 110-21 173-5 76.5 19.4 146.5 23.3 222 0 55-17 110.3-31.9 160-22.2V0H0Z"></path></g></svg>'),
		linear-gradient(transparent calc(var(--mask-head-size) - 1px), black calc(var(--mask-head-size) - 1px), black calc(100% - var(--mask-foot-size) + 1px), transparent calc(100% - var(--mask-foot-size) + 1px)),
		url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" width="1000" height="10"><g transform="scale(1.5,1)" transform-origin="12.5% 50%"><path d="M0 0v100c250 0 375-24 500-48 125 24 250 48 500 48V0H0Z" opacity=".5"/><path d="M0 0v4c250 0 375 24 500 48C625 28 750 4 1000 4V0H0Z"/></g></svg>');
	mask-repeat: no-repeat;
	mask-position: top, center, bottom;
	mask-size: 100%;
	background-color: #110e10;
	background-image: linear-gradient(90deg, #131212, #808);
}
.above-mask-box {
	padding-bottom: var(--mask-head-size);
	display: block;
	background: #404;
}
.below-mask-box {
	padding-top: var(--mask-foot-size);
	display: block;
	background: #404;
}
.box-wrap {
	padding: 30px;
	color: #FFF;
}

